@import "blocks/play-board/play-board";

// p {
//     color: red;
//     font-size: 10px;
// }

body {
    margin: 0;
    height: 100vh;
    font-size: 20px;

    // font-family: 'PT Sans Caption', sans-serif;

    font-family: 'Cormorant Infant', serif;

    // font-family: 'Andika', sans-serif;
}