// import React from 'react';

.play-board {
    background-image: url("./playboard.jpg");
    display: flex;
    height: 100vh;
}

.situation {
    padding: 10px 20px;
    background-image: url("./Background2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 0 25px 5px rgba(#000, 0.5);

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.play-board__inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.card-set {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.solution-card-wrapper {
    padding-right: 15px;
    padding-left: 15px;
}

.solution-card {
    padding: 20px;
    background-image: url("./pergament2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;

    // background-color: #fff;
}

.hidden {
    display: none;
}